@font-face {
  font-family: 'NarzissRegular';
  src: url('../fonts/narziss-regular-webfont.eot');
  src: url('../fonts/narziss-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/narziss-regular-webfont.woff') format('woff'), url('../fonts/narziss-regular-webfont.ttf') format('truetype'), url('../fonts/narziss-regular-webfont.svg#narzissregularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}